# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / Build
build/
dist/
local_build/

# PyInstaller
# We keep build.spec in the repo, but ignore build folders
*.manifest
*.spec
!build.spec

# Unit test / coverage reports
.pytest_cache/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
logs/
*.dat
*.tmp
